# --------- pytorch --------- #
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
pytorch-lightning
torchmetrics

# --------- hydra --------- #
hydra-core==1.1.0.rc1
hydra-colorlog==1.1.0.dev1
hydra-optuna-sweeper==1.1.0.dev2
# hydra-ax-sweeper==1.1.0
# hydra-ray-launcher==0.1.2
# hydra-submitit-launcher==1.1.0

# --------- loggers --------- #
wandb>=0.10.30
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler

# --------- linters --------- #
pre-commit
black
isort
flake8

# --------- others --------- #
pytest
scikit-learn
scikit-image
rich  # Rich is a Python library for rich text and beautiful formatting in the terminal.
sh  # sh is a full-fledged subprocess replacement for Python
seaborn  # Seaborn is a Python data visualization library based on matplotlib.
pudb
python-dotenv
# jupyterlab
# dvc
